<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>LogCabin.com</title>

<style>
.center {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	padding: 10px;
}
</style>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
	
<script src="https://kit.fontawesome.com/96aff2c2eb.js"
	crossorigin="anonymous"></script>
	
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>


<body onload="getWebsiteIcon()">
	<script src="Scripts/jquery-2.1.0.min.js"></script>
	
	<script>
		function getWebsiteIcon() {
			const p = document.getElementById('appId');
			var app = p.textContent;
			var appFin = 'fab fa-' + app + '-square  fa-5x';
			console.log(appFin.toLowerCase());
			p.setAttribute("class", "");
			p.setAttribute("class", appFin.toLowerCase());
		}
	</script>
	
	<div class="container">
	
	<br />

	<p id="appId" th:text="${applicationDTO.applicationId}" />
	
	<i id="websiteIcon" aria-hidden="true"></i>

	<form action="#" th:action="@{/save}" th:object="${applicationDTO}" method="POST">

	<!-- Invisible Form as needed to Update Info -->

	<input type="hidden" th:field="*{applicationId}"
	class="form-control mb-4 col-4" placeholder="Application">

	Username:<input type="text" th:field="*{username}"
	class="form-control mb-4 col-4" placeholder="Username">

	Password:<input type="text" th:field="*{password}"
	class="form-control mb-4 col-4" placeholder="Password">

	Notes:<input type="text" th:field="*{notes}"
	class="form-control mb-4 col-4" placeholder="Notes">
	
	<!-- Create a Button to save new log information -->
	<button type="submit" class="btn btn-dark btn-sm mb-2">Save
		New log information</button>

	</form>
	
	<br>
	
	<!-- Create a Button to return to home page -->
	<a class="btn btn-dark" data-toggle="collapse" th:href="@{/home}" role="button" aria-expanded="false" aria-controls="collapseExample">
   Return to the Home Page
    </a>

	</div>
	
</body>
</html>