 <!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>LogCabin.com</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://kit.fontawesome.com/96aff2c2eb.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
	.center {
	margin-left:auto;
	margin-right:auto;
	width: 60%;
	padding: 10px;
	}
</style>
</head>
<body>
<h1>Welcome to LogCabin</h1> 
<br/>
<a href="home?application=facebook">Facebook</a>
<i class="fab fa-facebook-square" aria-hidden="true"></i>
<a href="home?application=instagram">Instagram</a>
<i class="fab fa-instagram" aria-hidden="true"></i>
<a href="home?application=twitter">Twitter</a>
<i class="fab fa-twitter-square" ></i>
<div class="center">
<i  class="glyphicon glyphicon-plus btn-lg"></i>
</div>

</body>
</html>